body {
    max-width: 100%;
    height: auto;
    margin: 0%;
}

// NAVBAR
.header {
    overflow: hidden;
    background: white;
    width: 100%;
    border-bottom: 5px solid #926B5A; 
    padding: 20px 10px;

    .logo {
        width: 100px;
        height: 15px;
    }
  }
  /* Style on links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding-right: 30px;
  }
  
  .header-left {
    float: left;
    display: flex;
    align-items: center;
  }
  
  .searchicon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }

  .header-right {
    float: right;

    .icons {
        width: 20px;
        height: 20px;
    }
  }


.wholeaboutus {
    position: relative;

    .aboutusbackground {
        width: 100%;
        height: 100%;
    }

    .frame {
        width: 800px;
        height: 500px;
        background: rgba(255, 255, 255, 0.72);
        position: absolute;
        top: 450px;
        left: 500px;

        .aboutusdetails {
            text-align: center;
            padding: 0 20px 20px 20px;
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 42px;
            }

            p {
                font-size: 18px;
            }
    
        }
    }

}

.employeesection {
    background: rgba(249, 249, 249, 1);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    h2 {
        font-size: 40px;
    }
}

.employees {
    background: rgba(249, 249, 249, 1);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;

    .employephoto {
        width: 170px;
        padding: 20px;
        margin: 30px;
    }

    .employee {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;

        h3 {
            font-size: 24px;
        }
    
        p {
            width: 400px;
            font-size: 16px;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            color: rgba(146, 107, 90, 1);
        }
    }
}

.footerSP {
    background: rgba(146, 107, 90, 0.63);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;  
    
    .minilogo {
        width: 200px;
        height: 30px;
    }

    .underside {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black ;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
.header-right {
        float: left;
        .icons {
            width: 10px;
            height: 10px;
        }
}

.header a {
        font-size: 12px;
        padding: 5px;
}

.minilogo {
        display: flex;
        flex-direction: row;

}

.searchicon {
        width: 10px;
        height: 10px;
}

.searchbar {
        width: 80px;
}


.wholeaboutus {
    
        .frame {
            width: 300px;
            height: 200px;
            top: 100px;
            left: 50px;
    
            .aboutusdetails {
    
                h1 {
                    font-size: 12px;
                }
    
                p {
                    font-size: 8px;
                    width: 280px;
                }
        
            }
        }
    
}

.employeesection{

    h2 {
        font-size: 24px;
    }
}

.employees {
        flex-direction: column;

        .employephoto {
            width: 100px;
            padding: 10px;
            margin: 20px;
        }
    
        .employee {
    
            h3 {
                font-size: 14px;
            }

            h4 {
                font-size: 12px;
            }
        
            p {
                width: 200px;
                font-size: 12px;
            }
    
            a {
                font-size: 10px;
            }
        }
}

.footerSP {

        .minilogo {
            width: 100px;
            height: 15px;
            padding-right: 20px;
        }

        .copyright {
            font-size: 12px;
        }

        .underside {
            font-size: 12px;
        }
}
}