body {
    max-width: 100%;
    height: auto;
    margin: 0%;
    background: rgba(249, 249, 249, 1);
}

// NAVBAR
.header {
    overflow: hidden;
    background: white;
    width: 100%;
    border-bottom: 5px solid #926B5A; 
    padding: 20px 10px;

    .logo {
        width: 100px;
        height: 15px;
    }
  }
  /* Style on links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding-right: 30px;
}
  
.header-left {
    float: left;
    display: flex;
    align-items: center;
}
  
.searchicon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.header-right {
    float: right;

    .icons {
        width: 20px;
        height: 20px;
    }
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
}
.allreviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;

    .placereview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h2 {
            font-family: 'Raleway', sans-serif;
        }

        p {
            font-family: 'Poppins', sans-serif;
            width: 200px;
            text-align: center;
        }


        .eachreview {
            width: 200px;
            height: 35px;
            padding: 0px 70px 0px 70px;
        }
        

    }

}

.switchpage {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    a {
        text-decoration: none;
      }

    a:hover {
        background-color: rgba(146, 107, 90, 1);
        color: white;
    }
  
  .next {
    background: rgba(146, 107, 90, 0.63);
    color: white;
    padding: 1px 40px;
    font-size: 50px;
  }
}

.leavereview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h3 {
        font-family: 'Raleway', sans-serif;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }
}

.footerSP {
    background: rgba(146, 107, 90, 0.63);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;  
    
    .minilogo {
        width: 200px;
        height: 30px;
    }

    .underside {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black ;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }
}


@media screen and (max-width: 500px) {

    .allreviews {
        flex-direction: column;
    }
    
    .footerSP {

        .minilogo {
            width: 100px;
            height: 15px;
            padding-right: 20px;
        }

        .copyright {
            font-size: 12px;
        }

        .underside {
            font-size: 12px;
        }
    }
}