body {
    max-width: 100%;
    height: auto;
    margin: 0%;
}

// NAVBAR
.header {
    overflow: hidden;
    background: white;
    width: 100%;
    border-bottom: 5px solid #926B5A; 
    padding: 20px 10px;

    .logo {
        width: 100px;
        height: 15px;
    }
  }
  /* Style on links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding-right: 30px;
  }
  
  .header-left {
    float: left;
    display: flex;
    align-items: center;
  }
  
  .searchicon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }

  .header-right {
    float: right;

    .icons {
        width: 20px;
        height: 20px;
    }
  }

#wrapper {
	position: relative;
	left: 50%;
	margin: 30px 0;
	transform: translate(-50%, 0);
	background-color: #fefffa;
	max-width: 700px;
	padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(146, 107, 90, 0.5), 0 6px 20px 0 rgba(146, 107, 90, 0.3); 
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

h2 { // Style på rubriken 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 0;
    cursor: pointer;
}
p { // Style på beskrivning
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 5px;
    padding: 2px;
}

ul {
  list-style: none;
   li { // För linjer mellan de olika FAQ. 
		position: relative;
		padding-top: 20px;
		border-top: 1px solid rgba(146, 107, 90, 1);
		 i{ // För pil och kryss vid FAQ. 
			position: absolute;
			transform: translate(-3px, 0);
			right: 0;
			&:before,&:after {
				content: "";
				position: absolute;
				background-color: black;
				width: 2px;
				height: 16px;
			}
			&:before {
			  transform: translate(2px, 0) rotate(45deg);
			}
			&:after {
			  transform: translate(2px, 0) rotate(-45deg);
			}
		}
		 input { //Checkbox fi
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0;
			&:checked ~ p {
				margin-top: 0;
				max-height: 0;
				opacity: 0;
				transform: translate(0, 50%);
			}
			&:checked ~ i:before {
				margin-top: 9px;
				height: 9px;
				transform: translate(2px, 0) rotate(45deg);
			}
			&:checked ~ i:after {
				margin-top: 9px;
				height: 9px;
				transform: translate(-2px, 0) rotate(-45deg);
			}
		}
	}
}

ul li:nth-of-type(1) {
	border-top:none;
}
ul li:last-of-type {
  padding-bottom: 0;
}

// Here starts Contact form

.formintro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}
.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.leftside { // Style for name and email. 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .userinfo { // Style on text field
        width: 400px;
        height: 40px;
        padding: 10px;
        margin: 15px;
        font-size: 18px;
        margin-right: 35px;

    }
}

.number { // Style for phone and country number 
    padding: 10px;

    .countrynumber {
        width: 60px;
        height: 30px;
        padding: 10px;
        margin: 5px;
        font-size: 18px;
    }

    .phonenumber {
        width: 300px;
        height: 30px;
        padding: 10px;
        margin: 5px;
        font-size: 18px;
        margin-right: 30px;
    }
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contactmessage { // Text box
        padding: 5px;
    
        textarea {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            width: 380px;
            height: 200px;
        }
    
        .choosefile {
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
        }
    
        .sendmessage { // Button to send message
            width: 170px;
            height: 50px;
            margin-top: 12px;
            font-size: 16px;
            border: none;
            color: white;
            background: rgba(146, 107, 90, 0.63);
            border-radius: 4%;
            font-family: 'Poppins', sans-serif;
        }
    }
}

.OrCall {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    a {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding-bottom: 20px;
    }

    .adress {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .office {
        display: flex;
        flex-direction: row;
        width: 50px;
        height: 50px;
    }
}

.footerSP {
    background: rgba(146, 107, 90, 0.63);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;  
    
    .minilogo {
        width: 200px;
        height: 30px;
    }

    .underside {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black ;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }
}


@media screen and (max-width: 500px) {
    #wrapper {
        max-width: 400px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .formintro {
        font-size: 20px;
        text-align: center;
    }
        .column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
        }


      .leftside  .userinfo { // Style on text field
            width: 200px;
            height: 20px;
            font-size: 12px;
        }
    
        .number {

        .countrynumber{
            width: 25px;
            height: 10px;
            font-size: 12px;
        }

        .phonenumber {
            width: 132px;
            height: 10px;
            font-size: 12px;
        }
    }

    .rightside .contactmessage {
    
            textarea {
            font-size: 12px;
            width: 280px;
            height: 200px;
        }

            .choosefile {
            font-size: 12px;
        }

        .sendmessage { // Button to send message
            width: 140px;
            height: 40px;
            margin-top: 12px;
            font-size: 16px;

        }
}    
}
