body {
  max-width: 100%;
  height: auto;
  margin: 0%;
}

.header {
  overflow: hidden;
  background: white;
  border-bottom: 5px solid #926B5A;
  padding: 20px 10px;
}
.header .logo {
  width: 100px;
  height: 15px;
}

/* Style on links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding-right: 5px;
}

.header-left {
  float: left;
  display: flex;
  align-items: center;
}

.searchicon {
  width: 10px;
  height: 10px;
  padding-right: 10px;
}

.searchbar {
  width: 68px;
}

.header-right {
  float: left;
}
.header-right .icons {
  width: 10px;
  height: 10px;
}

main {
  height: 100vh;
  background-image: url(/album/startpagebg.svg);
  background-position: top;
  background-size: cover;
}

.textwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.textwrapper .textposition {
  flex-direction: column;
  background: rgba(255, 255, 255, 0.708);
  width: 350px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.textwrapper .smellaway {
  padding-left: 5%;
}
.textwrapper h1 {
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  font-size: 30px;
}
.textwrapper .pitch {
  text-align: center;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 30px;
}
.textwrapper .StartBtn {
  width: 100px;
  height: 30px;
  font-size: 12px;
  padding: 14px 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  background: rgb(186, 162, 151);
  color: black;
  border-radius: 4%;
  font-family: "Raleway", sans-serif;
}
.textwrapper .StartBtn:hover {
  background: #926B5A;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 280px;
}
.reviews .eachreview {
  width: 80px;
  height: 50px;
}
.reviews .morereviews {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 8px;
}

footer {
  width: 100%;
  background: rgba(146, 107, 90, 0.63);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .minilogo {
  width: 100px;
  height: 15px;
  padding-right: 20px;
}
footer .copyright {
  font-size: 8px;
}
footer .underside {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

@media (min-width: 860px) {
  .header .logo {
    width: 200px;
    height: 30px;
  }
  .header-right {
    float: right;
  }
  .header-right .icons {
    width: 20px;
    height: 20px;
  }
  .header a {
    font-size: 18px;
    padding: 30px;
  }
  .searchicon {
    width: 20px;
    height: 20px;
  }
  .searchbar {
    width: 200px;
  }
  .textwrapper {
    flex-direction: row;
  }
  .textwrapper .textposition {
    width: 800px;
    border-radius: 4px;
  }
  .textwrapper .smellaway {
    padding: 10%;
  }
  .textwrapper h1 {
    font-size: 50px;
  }
  .textwrapper .pitch {
    font-size: 24px;
  }
  .textwrapper .StartBtn {
    width: 200px;
    height: 70px;
    font-size: 22px;
  }
  .textwrapper .reviews {
    padding-top: 120px;
  }
  .textwrapper .reviews .eachreview {
    width: 300px;
    height: 150px;
  }
  .textwrapper .reviews .morereviews {
    font-size: 14px;
  }
  .textwrapper footer {
    font-size: 18px;
    padding: 30px;
  }
  .textwrapper footer .minilogo {
    width: 200px;
    height: 30px;
    padding: 20px;
  }
  .textwrapper footer .underside {
    font-size: 18px;
  }
  .reviews {
    padding-top: 100px;
  }
  .reviews .eachreview {
    width: 300px;
    height: 120px;
  }
  .reviews .morereviews {
    font-size: 20px;
  }
  footer .minilogo {
    width: 200px;
    height: 30px;
    padding-right: 20px;
  }
  footer .copyright {
    font-size: 12px;
  }
  footer .underside {
    font-size: 18px;
    padding-right: 20px;
  }
}/*# sourceMappingURL=style.css.map */